<table style="background:#aaaaaa url('https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/dark_embroidery.png') repeat left top;font:0.8em/1.8 Arial, Helvetica, sans-serif;margin:0 auto!important; width:650px;" border="0" cellpadding="0" cellspacing="0">
  <thead>
      <tr>
      <th style="background:#1c1c1c;text-align:left;padding:0.65em 2em 0.65em 2em;" width="325" cellpadding="0" cellspacing="0">
        <a style="color:#ffffff;float:left;font-weight:normal;text-decoration:none;width:auto;" href="tel:+353449382046">Call us 044 938 2046</a>
      </th>
      <th style="background:#1c1c1c;text-align:right;padding:0.65em 2em 0.65em 2em;" width="325" cellpadding="0" cellspacing="0">&nbsp;</th>
    </tr>
    <tr>
      <th style="text-align:left;padding:1.7em 2em 0.5em 2em;" width="325" cellpadding="0" cellspacing="0">
        <a style="float:left;text-decoration:none;width:auto:" href="http://makeup6.herokuapp.com/">
          <img style="width:21.5em;" src="http://makeup6.herokuapp.com/assets/store/logo-796425cc42e16b52a2538040ec772a75c2c0658adb08f9243662eafefe1627f6.png" alt="Monroe Beauty Facialist Logo" />
        </a>
      </th>
      <th style="text-align:right;padding:1.7em 2em 0.5em 2em;" width="325" cellpadding="0" cellspacing="0">&nbsp;</th>
    </tr>
  </thead>
    
    <tbody>
      <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
        <tr>
      <td style="text-align:left;" cellpadding="0" cellspacing="0" colspan="2">
        <p style="color:#cda11e;font-family:Georgia,Times New Roman,Serif;font-size:2.6em;font-style:italic;line-height:1em;margin:0;padding:0.5em 0.8em 0.5em 0.8em;text-align:center;">Your Order Has Been Canceled!</p>
      </td>
    </tr>
        <tr>
            <td style="color:#aaaaaa;padding:2em 2em 0 2em;" colspan="2" width="700" valign="top">
                <p class="lede" style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">
                    <%= Spree.t('order_mailer.cancel_email.dear_customer') %>
                </p>
                <p style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">
                    <%= Spree.t('order_mailer.cancel_email.instructions') %>
                </p>
                <p style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:bold;margin:2.5em 0 1em 0;">
                    <%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %>
                </p>
                <table style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;">
                    <% @order.line_items.each do |item| %>
                        <tr>
                            <td style="color:#aaaaaa;font-size:1em;">
                                <%= raw(item.variant.product.name) %>
                                <%= raw(item.variant.options_text) -%>
                            </td>
                            <td style="color:#aaaaaa;font-size:1em;">(<%=item.quantity%>) <%= Spree.t('at_symbol') %> <%= item.single_money %> = <%= item.display_amount %></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="color:#aaaaaa;font-size:1em;">
                          <%= Spree.t('order_mailer.cancel_email.subtotal') %>
                        </td>
                        <td style="color:#aaaaaa;font-size:1em;text-align:right;">
                          <%= @order.display_item_total %>
            </td>
                    </tr>
                    <% @order.adjustments.eligible.each do |adjustment| %>
                        <tr>
                            <td style="color:#aaaaaa;font-size:1em;"><%= raw(adjustment.label) %></td>
                            <td style="color:#aaaaaa;font-size:1em;text-align:right;"><%= adjustment.display_amount %></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td style="color:#aaaaaa;font-size:1em;font-weight:bold;"><%= Spree.t('order_mailer.cancel_email.total') %></td>
                        <td style="color:#aaaaaa;font-size:1.3em;font-weight:bold;text-align:right;"><%= @order.display_total %></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
        <tr>
      <td style="padding:0 2em 2em 2em;" colspan="2" width="650" valign="top">
        <p class="lede" style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0;">
                  <%= Spree.t('order_mailer.confirm_email.thanks') %>
                </p>
        <p style="color:#aaaaaa;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:bold;margin:0!important;">Monroe Beauty Facialist</p>
      </td>
    </tr>
  </tbody>
    
    <tfoot>
    <tr>
      <td width="650" style="background:#1c1c1c;color:#949494;font-size:0.9em;padding:1.55em 2em;" colspan="2">
        <span>&copy; Copyright 2016 Monroe Beauty Facialist. All Rights Reserved.</span>
      </td>
    </tr>
  </tfoot>
</table>