<footer>	
	<div id="footer-top">
		<div class="container">			
			<div class="row">
				<div class="col-md-3">
					<h5>About us</h5>
					<ul>
						<%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.footer_links, as: :page %>	
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Shopping with us</h5>
					<ul>
						<%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.footer_links, as: :page %>
					</ul>
				</div>
				<div class="col-md-3 foot-contact">
					<h5>Help</h5>
					<ul>
						<li>
							<a href="#">Get in touch</a>
						</li>
						<li>
							<a href="#">Help</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-3">
					<%= image_tag("poweredFooter-icon.png" , alt: "Powered by 39bots") %>
				</div>				
			</div>
		</div>
	</div>
	<div id="footer-bottom">
		<div class="col-xs-12 col-md-12">
			<%= link_to "Version.b1", admin_path, class: 'version' %>
		</div>
	</div>
	<% if spree_current_user %>
		<% if spree_current_user.has_spree_role?("super") %>
			<%= link_to "Admin super", admin_path, class: 'admin_section' %>
		<% end %>
	<% end %>
</footer>