<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= stylesheet_link_tag 'spree/frontend/bxslider', :media => 'screen' %>
<%= stylesheet_link_tag '//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', :media => 'screen' %>

<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag 'spree/frontend/bxslider' %>
<%= javascript_include_tag '//code.jquery.com/ui/1.11.4/jquery-ui.js' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<% @add = Spree::Product.find_by(name: "customer-address") %>

<script>
	$(document).ready(function(){
		$("#toTop").css("display", "none");
			
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
		
		//Click event to scroll to top
		$('#toTop').click(function(){
			$('html, body').animate({scrollTop : 0},1000);
			return false;
		});

		// User menu
		$("#top-nav-bar ul").before('<span class="glyphicon glyphicon-menu-hamburger"></span>');
		$("#top-nav-bar span").click(function(){
			//slide up all the link lists
			$("#top-nav-bar ul").slideUp();
			$(this).css("color", "#ffffff");
			//slide down the link list below the h3 clicked - only if its closed
			if(!$(this).next().is(":visible")){
				$(this).next().slideDown();
				$(this).css("color", "#ec4445");
			}
		});

		/* Add class just to home page */
		var pathname = window.location.pathname;
		if(pathname == "/"){
			$("body").addClass("home");

			//Home main Slider
			$(".bxslider").bxSlider({
				auto: true,
				autoControls: false,
				autoHover: true,
				controls: false,
				mode: 'fade',
				pager: true
			});
		}

		// Products home tabs
		$("#tabs").tabs();

		//Home main Slider
		$(".products-bxslider").bxSlider({
			auto: false,
			autoControls: false,
			autoHover: true,
			controls: true,
			infiniteLoop: false,
			hideControlOnEnd: true,
			mode: 'horizontal',
			pager: false
		});

		//Change Signup page structure
		$("#signup form#new_spree_user").wrap('<div class="register-box"></div');
		$("<h3>Register an account</h3>").insertBefore("#signup form#new_spree_user");
		$("#signup form#new_spree_user .form-group").each(function(){
			if($(this).children().attr("placeholder") == "Email"){
				$("<label>Email:</label>").insertBefore($(this).children());
				$(this).children().attr("placeholder","Enter email address");
			}
			if($(this).children().attr("placeholder") == "Password"){
				$("<label>Password:</label>").insertBefore($(this).children());
				$(this).children().attr("placeholder","Enter password");
			}
			if($(this).children().attr("placeholder") == "Password Confirmation"){
				$("<label>Confirm Password:</label>").insertBefore($(this).children());
				$(this).children().attr("placeholder","Confirm password");
			}
		});

		//Change Editing User page structure
		var pathname = window.location.pathname;
		if(pathname == "/users/7"){
			$("body").addClass("edit-user");

			$(".edit-user form").wrap('<div class="edit-box"></div');
			$("<h3>Editing user</h3>").insertBefore(".edit-user form");
			$(".edit-user form .form-group").each(function(){
				if($(this).children().attr("placeholder") == "Email"){
					$("<label>Email:</label>").insertBefore($(this).children());
					$(this).children().attr("placeholder","Enter email address");
				}
				if($(this).find("input").attr("placeholder") == "Password"){
					$("<label>Password:</label>").insertBefore($(this).find("input"));
					$(this).find("input").attr("placeholder","Enter password");
				}
				if($(this).find("input").attr("placeholder") == "Password Confirmation"){
					$("<label>Confirm Password:</label>").insertBefore($(this).find("input"));
					$(this).find("input").attr("placeholder","Confirm password");
				}
			});
		}

		//Change Forgot Password page structure
		var pathname = window.location.pathname;
		if(pathname == "/password/recover"){
			$("body").addClass("forgot-password");

			$(".forgot-password form").wrap('<div class="forgot-password-box"></div');
			$("<h3>Forgot password</h3>").insertBefore(".forgot-password form");
			if($(".forgot-password form p input.form-control").attr("type") == "email"){
				$("<label>Email:</label>").insertBefore($(".forgot-password form p input.form-control"));
				$(".forgot-password form p input.form-control").attr("placeholder","Enter password");
			}
		}

		// Product description tabs
		$("#tabs.product-tabs").addClass("ui-tabs-vertical ui-helper-clearfix");
    	$("#abs.product-tabs").removeClass("ui-corner-top" ).addClass( "ui-corner-left");
			
	});
</script>

<%= yield :head %>
