<div id="main-nav-bar" class="navbar">
  <ul class="nav navbar-nav" data-hook>
    <li id="home-link" data-hook>
      <%= link_to Spree.t(:home), spree.root_path %>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:hair), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Hair Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Shampoo</a>
                </span>
                <span>
                  <a href="#">Conditioner</a>
                </span>
                <span>
                  <a href="#">Treatments</a>
                </span>
                <span>
                  <a href="#">Styling</a>
                </span>
                <span>
                  <a href="#">Colour</a>
                </span>
                <span>
                  <a href="#">Electrical</a>
                </span>
                <span>
                  <a href="#">Brushes & Combs</a>
                </span>
                <span>
                  <a href="#">Accessories</a>
                </span>
                <span>
                  <a href="#">Supplements</a>
                </span>
                <span>
                  <a href="#">Babies & Children</a>
                </span>
                <span>
                  <a href="#">Organic & Natural</a>
                </span>
                <span>
                  <a href="#">Gifts & Sets</a>
                </span>
                <span>
                  <a href="#">Supersizes & Duos</a>
                </span>
                <span>
                  <a href="#">Oils & Serums</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Philip Kingsley</a>
                </span>
                <span>
                  <a href="#">Benefit</a>
                </span>
                <span>
                  <a href="#">Paul Mitchell</a>
                </span>
                <span>
                  <a href="#">Aveda</a>
                </span>
                <span>
                  <a href="#">Redken</a>
                </span>
                <span>
                  <a href="#">ghd</a>
                </span>
                <span>
                  <a href="#">Kérastase</a>
                </span>
                <span>
                  <a href="#">TIGI Catwalk</a>
                </span>
                <span>
                  <a href="#">TIGI Bed Head</a>
                </span>
                <span>
                  <a href="#">Joico</a>
                </span>
                <span>
                  <a href="#">L'Oréal Professionnel</a>
                </span>
                <span>
                  <a href="#">Phyto</a>
                </span>
                <span>
                  <a href="#">Color Wow</a>
                </span>
                <span>
                  <a href="#">invisibobble</a>
                </span>
                <span>
                  <a href="#">John Frieda</a>
                </span>
                <span>
                  <a href="#">Moroccanoil</a>
                </span>
                <span>
                  <a href="#">Tangle Teezer</a>
                </span>
                <span>
                  <a href="#">Percy & Reed</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:skin), spree.root_path %>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:body), spree.root_path %>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:makeup), spree.root_path %>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:brows), spree.root_path %>
    </li>    
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:sunandtan), spree.root_path %>
    </li>
  </ul>
</div>