<div id="main-nav-bar" class="navbar">
  <ul class="nav navbar-nav" data-hook>
    <li id="home-link" data-hook>
      <%= link_to Spree.t(:home), spree.root_path %>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:hair), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Hair Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Shampoo</a>
                </span>
                <span>
                  <a href="#">Conditioner</a>
                </span>
                <span>
                  <a href="#">Treatments</a>
                </span>
                <span>
                  <a href="#">Styling</a>
                </span>
                <span>
                  <a href="#">Colour</a>
                </span>
                <span>
                  <a href="#">Electrical</a>
                </span>
                <span>
                  <a href="#">Brushes & Combs</a>
                </span>
                <span>
                  <a href="#">Accessories</a>
                </span>
                <span>
                  <a href="#">Supplements</a>
                </span>
                <span>
                  <a href="#">Babies & Children</a>
                </span>
                <span>
                  <a href="#">Organic & Natural</a>
                </span>
                <span>
                  <a href="#">Gifts & Sets</a>
                </span>
                <span>
                  <a href="#">Supersizes & Duos</a>
                </span>
                <span>
                  <a href="#">Oils & Serums</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Philip Kingsley</a>
                </span>
                <span>
                  <a href="#">Benefit</a>
                </span>
                <span>
                  <a href="#">Paul Mitchell</a>
                </span>
                <span>
                  <a href="#">Aveda</a>
                </span>
                <span>
                  <a href="#">Redken</a>
                </span>
                <span>
                  <a href="#">ghd</a>
                </span>
                <span>
                  <a href="#">Kérastase</a>
                </span>
                <span>
                  <a href="#">TIGI Catwalk</a>
                </span>
                <span>
                  <a href="#">TIGI Bed Head</a>
                </span>
                <span>
                  <a href="#">Joico</a>
                </span>
                <span>
                  <a href="#">L'Oréal Professionnel</a>
                </span>
                <span>
                  <a href="#">Phyto</a>
                </span>
                <span>
                  <a href="#">Color Wow</a>
                </span>
                <span>
                  <a href="#">invisibobble</a>
                </span>
                <span>
                  <a href="#">John Frieda</a>
                </span>
                <span>
                  <a href="#">Moroccanoil</a>
                </span>
                <span>
                  <a href="#">Tangle Teezer</a>
                </span>
                <span>
                  <a href="#">Percy & Reed</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:skin), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Skin Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Expert Skincare</a>
                </span>
                <span>
                  <a href="#">Moisturisers</a>
                </span>
                <span>
                  <a href="#">Cleansers</a>
                </span>
                <span>
                  <a href="#">Toners</a>
                </span>
                <span>
                  <a href="#">Exfoliators</a>
                </span>
                <span>
                  <a href="#">Treatments</a>
                </span>
                <span>
                  <a href="#">Anti-Ageing</a>
                </span>
                <span>
                  <a href="#">Acne & Problem Skin</a>
                </span>
                <span>
                  <a href="#">Eye Care</a>
                </span>
                <span>
                  <a href="#">Lip Care</a>
                </span>
                <span>
                  <a href="#">Neck & Decollete Care</a>
                </span>
                <span>
                  <a href="#">Supplements</a>
                </span>
                <span>
                  <a href="#">Organic</a>
                </span>
                <span>
                  <a href="#">Children & Teens</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Balance Me</a>
                </span>
                <span>
                  <a href="#">Kiehl's</a>
                </span>
                <span>
                  <a href="#">Sarah Chapman</a>
                </span>
                <span>
                  <a href="#">Estée Lauder</a>
                </span>
                <span>
                  <a href="#">Murad</a>
                </span>
                <span>
                  <a href="#">Caudalie</a>
                </span>
                <span>
                  <a href="#">ELEMISDECLÉOR</a>
                </span>
                <span>
                  <a href="#">Elizabeth Arden</a>
                </span>
                <span>
                  <a href="#">Lancôme</a>
                </span>
                <span>
                  <a href="#">REN</a>
                </span>
                <span>
                  <a href="#">Embryolisse</a>
                </span>
                <span>
                  <a href="#">La Roche-Posay</a>
                </span>
                <span>
                  <a href="#">Vichy</a>
                </span>
                <span>
                  <a href="#">Eau Thermale Avène</a>
                </span>
                <span>
                  <a href="#">Dr. Nick Lowe</a>
                </span>
                <span>
                  <a href="#">Ole Henriksen</a>
                </span>
                <span>
                  <a href="#">Liz Earle</a>
                </span>
                <span>
                  <a href="#">BIODERMA</a>
                </span>
                <span>
                  <a href="#">Origins</a>
                </span>
                <span>
                  <a href="#">First Aid Beauty</a>
                </span>
                <span>
                  <a href="#">Emma Hardie</a>
                </span>
                <span>
                  <a href="#">NUXE</a>
                </span>
                <span>
                  <a href="#">Guinot</a>
                </span>
                <span>
                  <a href="#">GLAMGLOW®</a>
                </span>
                <span>
                  <a href="#">Clinique</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:body), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Body Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Bath & Shower</a>
                </span>
                <span>
                  <a href="#">Body Care & Treatments</a>
                </span>
                <span>
                  <a href="#">Hands</a>
                </span>
                <span>
                  <a href="#">Maternity Skincare</a>
                </span>
                <span>
                  <a href="#">Feet</a>
                </span>
                <span>
                  <a href="#">Body Sculpting & Toning</a>
                </span>
                <span>
                  <a href="#">Soaps</a>
                </span>
                <span>
                  <a href="#">Deodorants</a>
                </span>
                <span>
                  <a href="#">Hair Removal</a>
                </span>
                <span>
                  <a href="#">Bathroom Accessories</a>
                </span>
                <span>
                  <a href="#">Dental Care</a>
                </span>
                <span>
                  <a href="#">Feminine Essentials</a>
                </span>
                <span>
                  <a href="#">Babies & Children</a>
                </span>
                <span>
                  <a href="#">Organic</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Zoella Beauty</a>
                </span>
                <span>
                  <a href="#">MOR</a>
                </span>
                <span>
                  <a href="#">Balance Methis works</a>
                </span>
                <span>
                  <a href="#">Korres</a>
                </span>
                <span>
                  <a href="#">Murad</a>
                </span>
                <span>
                  <a href="#">Caudalie</a>
                </span>
                <span>
                  <a href="#">Emma Hardie</a>
                </span>
                <span>
                  <a href="#">NUXE</a>
                </span>
                <span>
                  <a href="#">ELEMIS</a>
                </span>
                <span>
                  <a href="#">DECLÉOR</a>
                </span>
                <span>
                  <a href="#">Burt's Bees</a>
                </span>
                <span>
                  <a href="#">AMELIORATE</a>
                </span>
                <span>
                  <a href="#">Origins</a>
                </span>
                <span>
                  <a href="#">Palmer's</a>
                </span>
                <span>
                  <a href="#">Dr Bronner's</a>
                </span>
                <span>
                  <a href="#">Roger & Gallet</a>
                </span>
                <span>
                  <a href="#">Crabtree & Evelyn</a>
                </span>
                <span>
                  <a href="#">Bio-Oil</a>
                </span>
                <span>
                  <a href="#">L'Occitane</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:makeup), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Makeup Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Face</a>
                </span>
                <span>
                  <a href="#">Contouring</a>
                </span>
                <span>
                  <a href="#">Lips</a>
                </span>
                <span>
                  <a href="#">Palettes</a>
                </span>
                <span>
                  <a href="#">Eyes</a>
                </span>
                <span>
                  <a href="#">Brows</a>
                </span>
                <span>
                  <a href="#">Nails</a>
                </span>
                <span>
                  <a href="#">Highlighters & Luminisers</a>
                </span>
                <span>
                  <a href="#">Primers, Fixers & Sealers</a>
                </span>
                <span>
                  <a href="#">Brushes</a>
                </span>
                <span>
                  <a href="#">Makeup Removers</a>
                </span>
                <span>
                  <a href="#">Tools & Accessories</a>
                </span>
                <span>
                  <a href="#">Makeup Bags</a>
                </span>
                <span>
                  <a href="#">Organic & Natural</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">NARS Cosmetics</a>
                </span>
                <span>
                  <a href="#">NYX Cosmetics</a>
                </span>
                <span>
                  <a href="#">Benefit</a>
                </span>
                <span>
                  <a href="#">Estée Lauder</a>
                </span>
                <span>
                  <a href="#">bareMinerals</a>
                </span>
                <span>
                  <a href="#">GUERLAIN</a>
                </span>
                <span>
                  <a href="#">CHANEL</a>
                </span>
                <span>
                  <a href="#">Burberry</a>
                </span>
                <span>
                  <a href="#">Yves Saint Laurent</a>
                </span>
                <span>
                  <a href="#">Elizabeth Arden</a>
                </span>
                <span>
                  <a href="#">Lancôme</a>
                </span>
                <span>
                  <a href="#">theBalm</a>
                </span>
                <span>
                  <a href="#">Urban Decay</a>
                </span>
                <span>
                  <a href="#">Real Techniques</a>
                </span>
                <span>
                  <a href="#">PÜR</a>
                </span>
                <span>
                  <a href="#">Stila</a>
                </span>
                <span>
                  <a href="#">Clinique</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:brows), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Brows Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Brow Gels</a>
                </span>
                <span>
                  <a href="#">Brow Palettes</a>
                </span>
                <span>
                  <a href="#">Brow Pencils</a>
                </span>
                <span>
                  <a href="#">Brow Mascaras</a>
                </span>
                <span>
                  <a href="#">Brow Powder</a>
                </span>
                <span>
                  <a href="#">Tweezers</a>
                </span>
                <span>
                  <a href="#">Primers</a>
                </span>
                <span>
                  <a href="#">Treatments</a>
                </span>
                <span>
                  <a href="#">Brushes</a>
                </span>
                <span>
                  <a href="#">Scissors</a>
                </span>
                <span>
                  <a href="#">Tools</a>
                </span>
                <span>
                  <a href="#">Tints & Colours</a>
                </span>
                <span>
                  <a href="#">Gifts & Sets</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Ciaté london</a>
                </span>
                <span>
                  <a href="#">Benefit</a>
                </span>
                <span>
                  <a href="#">Estée Lauder</a>
                </span>
                <span>
                  <a href="#">bareMinerals</a>
                </span>
                <span>
                  <a href="#">GUERLAIN</a>
                </span>
                <span>
                  <a href="#">Burberry</a>
                </span>
                <span>
                  <a href="#">Elizabeth Arden</a>
                </span>
                <span>
                  <a href="#">Elegant Touch</a>
                </span>
                <span>
                  <a href="#">Clinique</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>    
    <li class="nav-link" data-hook>
      <%= link_to Spree.t(:sun), spree.root_path %>
      <div class="mega-menu" style="display:none;">
        <div class="mega-menu-content">
          <ul>
            <li class="featured-categories">
              <a href="#">
                <p class="head">
                  Sun Categories
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">Face Tanning</a>
                </span>
                <span>
                  <a href="#">Body & Leg Tanning</a>
                </span>
                <span>
                  <a href="#">Wash Off</a>
                </span>
                <span>
                  <a href="#">Bronzers</a>
                </span>
                <span>
                  <a href="#">Tan Optimisers & Enhancers</a>
                </span>
                <span>
                  <a href="#">Tan Removers</a>
                </span>
                <span>
                  <a href="#">Sun Protection</a>
                </span>
                <span>
                  <a href="#">After Sun</a>
                </span>
                <span>
                  <a href="#">Pre-Sun</a>
                </span>
                <span>
                  <a href="#">Lip Protection</a>
                </span>
                <span>
                  <a href="#">Hair Protection & Care</a>
                </span>
                <span>
                  <a href="#">Accessories</a>
                </span>
                <span>
                  <a href="#">Insect Repellent & After Care</a>
                </span>
                <span>
                  <a href="#">Gifts & Sets</a>
                </span>
              </div>
            </li>
            <li class="featured-brands double">
              <a href="#">
                <p class="head">
                  Featured Brands
                  <span class="chevron-right">»</span>
                </p>
              </a>
              <div class="c">
                <span>
                  <a href="#">St. Tropez</a>
                </span>
                <span>
                  <a href="#">He-Shi</a>
                </span>
                <span>
                  <a href="#">Xen-Tan</a>
                </span>
                <span>
                  <a href="#">Sienna X</a>
                </span>
                <span>
                  <a href="#">Murad</a>
                </span>
                <span>
                  <a href="#">Bondi Sands</a>
                </span>
                <span>
                  <a href="#">Lancaster</a>
                </span>
                <span>
                  <a href="#">Vita Liberata</a>
                </span>
                <span>
                  <a href="#">Ultrasun</a>
                </span>
                <span>
                  <a href="#">Garnier</a>
                </span>
                <span>
                  <a href="#">Fake Bake</a>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>