<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div class="banner">
    <ul class="bxslider">
    	<li>
        	<%= image_tag("slider1.png", alt: "Slider1") %>
            <div class="text-slider right-text">
	            <h2>
		            <span>Fan</span>
		            <span class="color">fave</span>
		            <span class="bigSize">lippies</span>
		        </h2>				
				<span class="fontFamily">in new, </span>
				<span class="fontFamily fontSize">super rich</span>
				<span class="bigSize">COLORS</span>
				
	            <a href="#">Shop now!</a>
            </div>
        </li>
        <!--<li>
        	<a href="/">
        		<%= image_tag("slider2.jpg", alt: "Slider2") %>
        		<div class="text-slider">
		            <h2>Test 2</h2>
		            <a href="#">Shop now!</a>
	            </div>
	        </a>
        </li> -->
        <li>
	    	<%= image_tag("slider3.png", alt: "Slider3") %>
	    	<div class="text-slider middle-text">
		        <h2>Best tips to achieve</h2>
	        	<span>perfect Winter Face</span>
	        	<p>We're sure every woman had a case of winter face dilemma, including me. In my latest film we talk about rules on using the base, brows, bold Lips and getting rid of the winter blues … on top of that we managed to throw a couple of insults at each other in the meantime...</p>
	            <a href="#">Shop now!</a>
	        </div>
        </li>
    </ul>
</div>

<div class="products-content">
	<h2>Products</h2>
	<div id="tabs">
		<ul>
			<li class="title">
	        	<a href="#tabs-1">
	        		<hr class="sale">
	        	</a>
	    	</li>
	    	<li class="title">
            	<a href="#tabs-2">
            		<hr class="featured">
            	</a>
        	</li>
        	<li class="title">
            	<a href="#tabs-3">
            		<hr class="latest">
            	</a>
        	</li>
		</ul>
		<div id="tabs-1" class="sale clearfix">
		    <ul class="products-bxslider">		
				<% @products.where(sale: true).each do |e| %>
				  <li class="thumbnail col-sm-6 col-md-3">
				      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
				      <div class="caption">
				      	<span><%= link_to e.ts_code, e %></span>
				        <h4><%= link_to truncate(e.name, length: 80), e %></h4>				        
				        <span class="button">
				        	<button class="btn btn-primary">
				        		<span>€</span>
				        		<%= link_to e.price, e %>
				        	</button>
				        </span>
				      </div>
				  </li>
				<% end %>
		    </ul>
		</div>

		<div id="tabs-2" class="featured clearfix">
		    <ul class="products-bxslider">
				<% @products.where(featured: true).each do |e| %>
				  <li class="thumbnail col-sm-6 col-md-3">
				      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
				      <div class="caption">
				      	<span><%= link_to e.ts_code, e %></span>
				        <h4><%= link_to truncate(e.name, length: 80), e %></h4>
				        <span class="button">
				        	<button class="btn btn-primary">
					        	<span>€</span>
					        	<%= link_to e.price, e %>
				        	</button>
				        </span>
				      </div>
				  </li>
				<% end %>
		    </ul>
		</div>

		<div id="tabs-3" class="latest clearfix">
		    <ul class="products-bxslider">
				<% @products.where(latest: true).each do |e| %>
				  <li class="thumbnail col-sm-6 col-md-3">
				      <%= link_to image_tag('http://ts.liveofficedata.co.uk/' + e.image_url), e %>
				      <div class="caption">
				      	<span><%= link_to e.ts_code, e %></span>
				        <h4><%= link_to truncate(e.name, length: 80), e %></h4>
				        <span class="button">
				        	<button class="btn btn-primary">
					        	<span>€</span>
					        	<%= link_to e.price, e %>
				        	</button>
				        </span>
				      </div>
				  </li>
				<% end %>
		    </ul>
		</div>
	</div>
</div>

<div class="featured-brands">
	<h2>Featured Brands</h2>
	<ul>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/gorgeous-logo.png", alt: "Gorgeous Cosmetics logo") %>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/jack-black-logo.png", alt: "Jack Black logo") %>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/japonesque-logo.png", alt: "Japonesque logo") %>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/nars-logo.png", alt: "Nars logo") %>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/stila-logo.png", alt: "Stila logo") %>
			</a>
		</li>
	</ul>
</div>

<div class="product-promotions">
	<h2>Care your image</h2>
	<ul>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/nail-polish.jpg", alt: "Nail polish") %>
				<div class="text-content">
					<span>Colour your nails</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/makeup-products.jpg", alt: "Makeup products") %>
				<div class="text-content">
					<span>Illuminate your face</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/lipstick-mirror.jpg", alt: "Lipstick mirror") %>
				<div class="text-content">
					<span>Glamorous lipstick</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/monroe-beauty/images/beauty-cream.jpg", alt: "Beauty cream") %>
				<div class="text-content">
					<span>Skin always clean</span>
				</div>
			</a>
		</li>
	</ul>
</div>